<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>

       <center> 
       <img src="/static/images/<%= vendorDetails.img %>" alt="Vendor Image" /><br/>
       Vendor Name: <%= vendorDetails.name %>
       <br>
       <input type="text" placeholder="Filter by event" class="srch" size=60>
        <table width="60%">
            <caption>Users who participated in your contests:</caption>
            <tr id="table-head">
            <th>Name</th><th>Email</th><th>Mobile</th><th>Event</th>
            </tr>
            <% for(var i in userDetails) { %>
          <tr class="<%= (userDetails[i].title).toLowerCase() %>"> <td><%= userDetails[i].first_name %> <%= userDetails[i].last_name %></td>
            <td><%= userDetails[i].email %></td>
            <td><%= userDetails[i].mobile_no %></td>
            <td ><%= userDetails[i].title %></td>
            <% } %></tr>
          </table></center>
          





        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
<script>
    $('.srch').on('keyup',function(){
        var filterTerm="."+($(this).val()).toLowerCase();
        $('tr').hide();
        $('#table-head').show();
        $(filterTerm).show();

    });
</script>
</body>
</html>
