<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
    <style>tr {cursor:pointer;}
    tr:hover {background-color: #dddddd;}</style>
</head>

<body class="header-fixed header-fixed-space">
<div class="wrapper homePage">

    <% include header.html %>
<table width="100%">
  <th>Event</th><th>Sponsored By</th><th>Total Prizes</th><th>Starting Date</th><th>Ending Date</th>
    <% for(var i in contest_list) { %>
        <tr onclick="window.location='/app/<%= contest_list[i].slug %>/contest/<%= contest_list[i].id %>'">
          <td><%= contest_list[i].title %></td>
          <td><%= contest_list[i].name %></td>
          <td><%= contest_list[i].total_prizes %></td>
          <td><%= contest_list[i].start_date %></td>
          <td><%= contest_list[i].end_date %></td></tr>
        <% } %>
</table>
    <br/><br/><br/>
    <% include footer.html %>
</div>
<% include commonFooterScriptElements.html %>
</body>
</html>
