<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <% include commonHeadElements.html %>
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">
        <% include header.html %>

            <h2>
                <%= contestDetails.title %> -
                    <% if (contestDetails.event_type_id === 1) { %>Photo Contest
                        <% } %>
            </h2>
            <a href="/app/dashboard/<%= contestDetails.id %>">
                <h3>Sponsored By
                    <%= contestDetails.name %>
                </h3>
            </a>
            <p>
                <td>
                    <%= contestDetails.description %>
                </td>
            </p>
            <p>Total Prizes:
                <%= contestDetails.total_prizes %>
                    <br/>
                    <%= contestDetails.prize_description %>
                        <br/> Avail prizes till
                        <%= contestDetails.prize_validity %>
            </p>

            <% if( contestDetails.start_date <= Date.now() && contestDetails.end_date > Date.now() ) { %>
                <% if (showFullDetails === true) { %>
                    <form action="/app/closeContest/<%= eid %>" method="post">
                        <input type="submit" value="CLOSE THE EVENT">
                    </form>
                    <% } %>
                        <% if (contestDetails.event_type_id === 1) { %>
                            <table style="width:100%">
                                <tr>
                                    <th>event end_date</th>
                                    <th>no_of_submissions</th>
                                    <th>no_of_user</th>
                                </tr>
                                <tr>
                                    <td>
                                        <%= contestDetails.end_date %>
                                    </td>
                                    <td>
                                        <%= userNumber.no_of_submissions %>
                                    </td>
                                    <td>
                                        <%= userNumber.no_of_users %>
                                    </td>
                                </tr>
                            </table>
                            <% if (currentUser) { %>
                                <form action="/app/livecontest" method="post" enctype="multipart/form-data">
                                    <input type="hidden" value="<%=eid%>" name="eid" />
                                    <label>Uplode photo</label>
                                    <input type="file" name="userUploadedFile" multiple/>
                                    <input type="submit" value="UPLOAD">
                                </form>
                                <% } else { %>
                                    <button onclick="window.location='/app/login'">Upload Photo to Participate</button>
                                                                <% } %>

                                    <% if (userNumber.no_of_submissions !== 0) { %>
                                        <table style="width:100%">
                                            <tr>
                                                <br>
                                                <br>
                                                <th>entity_file_url</th>
                                                <th>first_name</th>
                                                <th>last_name</th>
                                                <th>like_count</th>
                                            </tr>
                                            <% for(var i in participant_list) { %>
                                                <tr>
                                                    <td>
                                                        <img src="/static/uploads/<%= participant_list[i].entity_file_url %>" alt="nahi hai" width="500" height="500">
                                                    </td>
                                                    <td>
                                                        <%= participant_list[i].first_name %>
                                                    </td>
                                                    <td>
                                                        <%= participant_list[i].last_name %>
                                                    </td>
                                                    <td>
                                                        <% if(currentUser) { %>
                                                        <form method="post" action="/app/likecount">
                                                            <input type="hidden" value="<%=eid%>" name="eid" />
                                                            <button type="submit" name="like" value="<%= participant_list[i].id %>">Like</button></form><% } else { %>
                                                                <button onclick="window.location='/app/login'">Like</button>
                                                                <% } %>
                                                            <% for(j in like){ var s=0; %>
                                                                <% if(like[j].user_entity_upload_id===participant_list[i].id) { s=1;%>
                                                                    Pic have
                                                                    <%= like[j].c %> Likes
                                                                        <% } } %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </table>
                                        <% } } else { %>
                                            <% if (currentUser) { %>
                                                <button type="button" onclick="document.getElementById('spinwheel').style.display='block';">Participate</button>
                                                <iframe src="/app/:slug/spinwheel/<%= eid %>" align="center" width="100%" height="700" style="display:none;" id="spinwheel">
                                                </iframe>
                                                <% } else { %>
                                                    <button type="button" onclick="window.location='/app/login'">Participate</button>
                                                    <% } } } %>






                                                        <% if( contestDetails.start_date > Date.now() ) { %>
                                                            <table>
                                                                <tr>
                                                                    <th>event start_date</th>
                                                                    <th>event end_date</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <%= contestDetails.start_date %>
                                                                    </td>
                                                                    <td>
                                                                        <%= contestDetails.end_date %>
                                                                    </td>
                                                                </tr>
                                                                <span>Event has not started yet!!</span>
                                                            </table>
                                                            <% } %>






                                                                <% if( contestDetails.end_date < Date.now() ) { %>
                                                                    <% if (contestDetails.event_type_id === 1) { %>
                                                                        <table>
                                                                            <tr>
                                                                                <th>no_of_submissions</th>
                                                                                <th>no_of_user</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <%= userNumber.no_of_submissions %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= userNumber.no_of_users %>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        <table style="width:100%">
                                                                            <% if (userNumber.no_of_submissions !== 0) { %>
                                                                                <table style="width:100%">
                                                                                    <tr>
                                                                                        <br>
                                                                                        <br>
                                                                                        <th>entity_file_url</th>
                                                                                        <th>first_name</th>
                                                                                        <th>last_name</th>
                                                                                        <th>like_count</th>
                                                                                    </tr>
                                                                                    <% for(var i in participant_list) { %>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <img src="/static/uploads/<%= participant_list[i].entity_file_url %>" alt="nahi hai" width="500" height="500">
                                                                                            </td>
                                                                                            <td>
                                                                                                <%= participant_list[i].first_name %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%= participant_list[i].last_name %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <% for(j in like){ var s=0; %>
                                                                                                    <% if(like[j].user_entity_upload_id===participant_list[i].id) { s=1;%>
                                                                                                        Pic have
                                                                                                        <%= like[j].c %> Likes
                                                                                                            <% } } %>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <% } %>
                                                                                </table>
                                                                                <% } } } %>






                                                                                    <% include footer.html %>
    </div>
    <% include commonFooterScriptElements.html %>
</body>

</html>
