<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <% include commonHeadElements.html %>
        <style>
            #form {
                box-shadow: black 1px 1px 10px;
                position: fixed;
                top: 100px;
                left: 200px;
                z-index: 1;
                padding: 20px;
            }
        </style>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>

    </div>

    
    <% if (showFullDetails === true) { %>
        <button onclick="contestButton()">Add New Contest</button>
        <div style="display:none;" id="form">
            <form action="/app/newContest" method="post">
                Vendor Id:
                <input type="number" name="vendor_id" value="<%= vendor_id %>" readonly/>
                <br/> Please select type of contest:
                <br/>
                <% for (var i in eventTypeList) { %>
                    <input type="radio" name="event_type" value="<%= eventTypeList[i].id %>" />
                    <%= eventTypeList[i].name %>
                        <br/>
                        <% }  %>
                            <input type="submit" value="Submit" />
            </form>
            <br/>
            <button onclick="cancelButton()">Cancel</button>
        </div>
        <br/>
        <br/>
        <% } %>
            <div>
                <img src="/static/uploads/<%= merchantDetails.img %>" alt="shop image">
                <img src="/static/uploads/<%= merchantDetails.dp %>" alt="Owner image">
            </div>
            <div>
                <p>MERCHANT DETAILS</p>
                <p>
                    NAME:
                    <%= merchantDetails.name %>
                        </br>
                        ADDRESS: </br>
                        <%= merchantDetails.shopNo %>
                            </br>
                            <%= merchantDetails.street %>
                                </br>
                                <%= merchantDetails.locality %>
                                    </br>
                                    <%= merchantDetails.city %>
                                        </br>
                                        <% if (showFullDetails === true) { %>
                                            E-Mail:
                                            <%= merchantDetails.email %>
                                                </br>
                                                MOBILE:
                                                <%= merchantDetails.mobile_no %>
                                                    </br>
                                                    GSTN:
                                                    <%= merchantDetails.gstn %>
                                                        </br>
                                                        <% } %>
                </p>
            </div>
            <% if (showFullDetails === true) { %>
                <% var sum = 0 %>
                    <% for (var i in eventList) { %>
                        <% sum = sum + eventList[i].PARTICIPANTS %>
                            <% } %>
                                <button onclick="window.location='/app/dashboard/<%= vendor_id %>/allparticipants'">Total Participants:
                                    <%= sum %>
                                </button>
                                <% } %>
                                    <hr/>
                                    <br/> Total No. of Contests:
                                    <%= contestList.length %>
                                        <br/>
                                        <div>
                                            <p>YOUR CONTESTS</p>
                                            <% for(var i=0;i<contestList.length;i++){ %>
                                                <p>
                                                    <a href="/app/<%= contestList[i].slug %>/contest/<%= contestList[i].id %>">
                                                        <%= contestList[i].title %>
                                                    </a>
                                                    </br>
                                                </p>
                                                <% } %>
                                        </div>
                                        <% if (showFullDetails === true) { %>
                                            <script>
                                                var contestButton = function () {
                                                    var form = document.getElementById('form').style;
                                                    if (form.display === 'none') {
                                                        form.display = 'block';
                                                    } else if (form.display === 'block') form.display = 'none';
                                                };
                                                var cancelButton = function () {
                                                    var form = document.getElementById('form').style;
                                                    form.display = 'none';
                                                };
                                            </script>
                                            <% } %>
                                                <% include footer.html %>
                                                    <br>
                                                    <% include commonFooterScriptElements.html %>
</body>

</html>