<div class="header-v6 header-classic-white header-sticky">
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand"style="padding: 15px 0">
                    <a href="/app/home">
                        <!--<img class="shrink-logo" src="/static/assets/img/logo1-default.png" alt="Logo">-->
                        <img class="shrink-logo" src="" alt="Website Logo">
                    </a>
                </div>
            </div>

            <nav class="collapse navbar-collapse navbar-responsive-collapse" role="navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                        <li itemprop="name">
                            <a data-toggle="modal" href="/app/signup">SIGN UP</a>
                        </li>
                        <li itemprop="name">
                                <a data-toggle="modal" href="/app/login">LOGIN</a>
                        </li>
                    <% } else { %>
                        <li itemprop="name">
                            <div class="dropdown">
                                Welcome <button class="dropbtn"><%= currentUser.first_name %></button>
                                <div class="dropdown-content">
                                  <a href="/app/profile/<%= currentUser.id %>">Profile</a>
                                   <% var j=0; %>
                                <% for(var i in currentUser.vid) { %>
                                      <a href="/app/dashboard/<%= currentUser.vid[i] %>">Dashboard <%= j+1 %></a>
                                      <% j++; %>
                                 <% } %>



                                  <a href="/app/registerShop/<%= currentUser.id %>">Register Your Shop</a>
                                  <a href="/app/logout">Logout</a>
                                </div>
                              </div>
                        </li>
                        <li>
                            <!-- <a href="/app/logout">LOGOUT</a> -->
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>