<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">

    <div class="wrapper homePage">

        <% include header.html %>
<div class="bimg">

          <span class="heading" onclick="window.location='/app/contests/live'">LIVE CONTESTS</span>
          <div class="contents">

          <% for(var i in liveEventList) { %>

      <div class="blocks"><a href="/app/<%= liveEventList[i].slug %>/contest/<%= liveEventList[i].id %>">

			        <br/><b><%= liveEventList[i].title %></b></a> <br/>Sponsored By:
                <a href="/app/dashboard/<%= liveEventList[i].vendor_id %>"><%= liveEventList[i].name %></a><br/>Ends On
                <%= liveEventList[i].end_date %>
              <br/> <!-- <%= liveEventList[i].slug %> -->
            <br/></div>
			   <% }  %><br/><br/><a href="/app/contests/live">All live Contests ></a><br/><br/>
                </div>

         <span class="heading" onclick="window.location='/app/contests/upcoming'">COMING SOON</span>
         <div class="contents">

         <% for(var i in upcomingList) { %>

        <div class="blocks"><a href="/app/<%= upcomingList[i].slug %>/contest/<%= upcomingList[i].id %>">

  			        <br/><b><%= upcomingList[i].title %></b></a> <br/>Sponsored By:
                  <a href="/app/dashboard/<%= upcomingList[i].vendor_id %>"><%= upcomingList[i].name %></a><br/>Starting On
                  <%= upcomingList[i].start_date %>
             <br/> <!-- <%= upcomingList[i].slug %> -->
           <br/></div>
        <% } %><br/><br/><a href="/app/contests/upcoming">All Upcoming Contests ></a><br/><br/>
      </div>

	<span class="winners">WINNERS</span>
  <div class="contents">

			<% for(var i in winnerList) { %>
    <div class="blocks"><a href="/app/profile/<%= winnerList[i].Id %>">

				<br/><b><%= winnerList[i].name %></b> <br/><%= winnerList[i].title %></br></br></a></div>
			<% } %><br/><br/><br/>
    </div>


        <% include footer.html %>
  </div>  </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
