<!DOCTYPE html>
<html>
<body>
<% if(error) {%>
<h2><%= error %></h2>
<% } %>
<h2>HTML Forms</h2>

<form action="/app/login" method="post">
  Username/Email:<br>
  <input type="text" name="username" >
  <br>
  password:<br>
  <input type="password" name="password" >
  <br><br>
  
  <input type="submit" value="Submit">
</form> 


</body>
</html>
