<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/app/newContest/photo" method="post">
      <br/>Vendor Id: <input type="number" value="<%= vendor_id %>" name="vendor_id" readonly /><br/>
      <br/>Event Type Id: <input type="number" value="<%= event_type_id %>" name="event_type_id" readonly /><br/>
      <br/>Event Title: <input type="text" size=50 name="title"/><br/><br/>
      Write a description for the event:<br/>
      <textarea rows="6" cols="50" name="description"></textarea><br/><br/>
      Starting Date: <input type="date" name="start_date"/><br/>
      Ending Date: <input type="date" name="end_date"/><br/><br/>
      Total Prizes: <input type="number" name="total_prizes"/><br/>
      Prize Description:<br/>
      <textarea rows="3" cols="50" name="prize_description"></textarea><br/>
      Prize Validity: <input type="date" name="prize_validity"/><br/><br/>
      <input type="checkbox" name="moderator_required"/>I want a Moderator<br/>
      <br/><br/>
      <input type="submit" value="Add Contest"/>
    </form>
  </body>
</html>
