<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>
    </div>
    <div>
        <img src="/static/images/download.png" alt="shop image">
    </div>
    <div>
        <p>
            NAME: <%= merchantInfo.name %> </br>
            ADDRESS: </br>
            <%= merchantInfo.shopNo %> </br>
            <%= merchantInfo.street %> </br>
            <%= merchantInfo.locality %> </br>
            <%= merchantInfo.city %> </br>
        </p>
    </div>
    <div>
        <p>CONTESTS CONDUCTED</p>
        <p>
           <%  for(var i=0;i<eventList.length;i++) { %>
                NAME: <%= eventList[i].title %> </br>
                PRIZE DISTRIBUTED: <%= eventList[i].total_prizes %> </br>
                SLUG: <%= eventList[i].slug %> </br>
           <% } %>
        </p>
    </div>

    <% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>
