<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include commonHeadElements.html %>
</head>

<body class="header-fixed header-fixed-space">
    <div class="wrapper homePage">

        <% include header.html %>

        <p style="font-size:20px;">
         <img src= "/static/uploads/<%=userDetails.img %>"  alt="user photo"/><br/>
          <%= userDetails.first_name %><br/>
          <%= userDetails.last_name %><br/>
          <%= userDetails.gender %><br/>
          <%= userDetails.email %><br/>
        <% if (showFullDetails === true) { %>
          <%= userDetails.dob %><br/>
          <%= userDetails.mobile_no %><br/>
          <%= userDetails.house_no %><br/>
          <%= userDetails.street %><br/>
          <%= userDetails.locality %><br/>
          <%= userDetails.city %><br/>
          <%= userDetails.state %><br/>
          <%= userDetails.pincode %><br/>
        <% } %>
        </p>

        <p>Participation History</p>
        <p style="font-size:20px;">
            <% for(var i=0;i<eventList.length;i++){ %>
                <%= eventList[i].title %>
            <% } %>

        </p>



        <% include footer.html %>
    </div>
<% include commonFooterScriptElements.html %>
</body>
</html>
