<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script>
      window.location = '/app/<%= slug %>/contest/<%= id %>';
    </script>
  </body>
</html>
