<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <form action="/app/newContest/spinwheel" method="post">
      <br/>Vendor Id: <input type="number" value="<%= vendor_id %>" name="vendor_id" readonly /><br/>
      <br/>Event Type Id: <input type="number" value="<%= event_type_id %>" name="event_type_id" readonly /><br/>
      Event Title: <input type="text" size=50 name="title"/><br/><br/>
      Write a description for the event:<br/>
      <textarea rows="6" cols="50" name="description"></textarea><br/><br/>
      Starting Date: <input type="date" name="start_date"/><br/>
      Ending Date: <input type="date" name="end_date"/><br/><br/>
      Number of Sectors: <input type="number" name="sectors"  id="sec"/><br/>
      <br/><br/>
      Prize Validity: <input type="date" name="prize_validity"/><br/><br/>
      <input type="submit" value="Add Contest"/>
    </form>

    <script>
        $('#sec').on("keyup",function(){
        $('.sec_data').remove();
        $('.sec_br').remove();
        $('.span_no').remove();
          var total_sector=$(this).val();
          var s="";
          for(var i=0;i<total_sector;i++){
            s='<br class="sec_br"/><br class="sec_br"/><span class="span_no">Sector '+(total_sector-i)+'</span> <input type="text" size=50 name="offer" class="sec_data"/>';
            $(this).after(s);
          }
        })
    </script>
  </body>
</html>
